{% extends 'base.html.twig' %}


{% block body %}
<h1>Bienvenue dans ce blog ! </h1>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit a dolorum magnam doloremque natus omnis, optio vel inventore nostrum officiis voluptate atque consectetur repellendus laboriosam distinctio, repudiandae ullam doloribus est, dolores dicta consequuntur ab soluta commodi veniam? Harum, modi, ipsam.</p>
<p>Ad perspiciatis doloribus rerum delectus ducimus magni saepe autem repellat culpa eaque ratione voluptate architecto beatae quidem ab eius ea, sit fuga quod debitis officiis, molestias dolores placeat? Aut ut mollitia iste dolore soluta, cum, voluptatibus nobis esse saepe aliquid!</p>
{% endblock %}
